@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap");

* {
	margin: 0;
	padding: 0;
	border: none;
	font-family: "Poppins", sans-serif;
	font-style: normal;
	font-weight: 400;
	box-sizing: border-box;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
	color: #1b1a1a;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 1%;
}

body {
	background: #fff;
	height: 100%;
}
.header {
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 400;
	font-size: 15px;
	line-height: 24px;
	color: #1b1a1a;
}

.header__nav {
	display: flex;
	align-items: center;
	justify-content: center;
}
.hamb-field {
	display: none;
}
.header__nav .menu {
	display: flex;
}
.header__nav .menu li {
	margin-right: 31px;
}
.popup .menu {
	display: none;
}
.button {
	background: #1b1a1a;
	border-radius: 14px;
	padding: 11px 20px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #ffffff;
}
.google {
	min-height: 700px;
}
/*1 секция*/
.sec-1 {
	min-height: 720px;
	display: flex;
	justify-content: space-between;
	background-color: #ece7e4;
}
.sec-1__block-txt {
	max-width: 466px;
	margin: 0 10%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.sec-1__text {
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}
.sec-1__logo-title {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #645c55;
	margin-bottom: 20px;
}
.sec-1__title {
	font-size: 64px;
	line-height: 70px;
	color: #1b1a1a;
	margin-bottom: 18px;
}
.sec-1__txt {
	font-size: 16px;
	line-height: 24px;
	color: #403e3b;
	margin-bottom: 30px;
}
.sec-1__link {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #1b1a1a;
	margin-left: 20px;
}
.sec-1__img {
	width: 50%;
	background: url("../img/bg_sec1.jpg") center/cover no-repeat;
	min-height: 720px;
}

/*2 секция*/
.sec-2 {
	padding: 100px 0;
}
.container2 {
	max-width: 768px;
	margin: 0 auto;
}
.sec-2__block {
	display: flex;
}
.sec-2__title {
	width: 65%;
	font-size: 32px;
	line-height: 38px;
	color: #403e3b;
	margin-bottom: 20px;
	text-align: center;
}
.sec-2__text {
	width: 65%;
	font-size: 16px;
	line-height: 24px;
	color: #403e3b;
}
.sec-2__text p {
	margin-bottom: 10px;
}
.block-partner {
	display: flex;
	justify-content: start;
	align-items: center;
	margin-bottom: 20px;
}
.block-partner__img {
	width: 84px;
	height: 84px;
	margin-right: 30px;
}
.block-partner__info {
}
.block-partner__name {
	font-size: 17px;
	line-height: 26px;
	color: #1b1a1a;
}
.block-partner__surname {
	font-size: 14px;
	line-height: 14px;
	color: #645c55;
}
/*3 секция*/
.full-screen {
	min-height: 600px;
	display: flex;
	align-items: center;
}
.right {
	background: url("../img/bg_sec3.jpg") center/cover no-repeat;
	justify-content: end;
	padding-right: 60px;
}
.full-screen__block {
	max-width: 285px;
}
.full-screen__title {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #403e3b;
}
.full-screen__subtitle {
	font-size: 16px;
	line-height: 24px;
	color: #645c55;
}
/*4 секция*/
.sec-4 {
	text-align: center;
	padding: 100px 0;
}
.sec-4__upper-title {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #645c55;
	margin-bottom: 13px;
}
.sec-4__title {
	font-size: 39px;
	line-height: 42px;
	color: #1b1a1a;
	margin-bottom: 47px;
}
.sec-4__block {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	flex-wrap: wrap;
	width: 100%;
}
.block-do {
	width: 33.33%;
	padding: 0 42px;
}
.block-do__img {
	height: 117px;
	width: 102px;
	margin: 0 auto;
	margin-bottom: 15px;
}
.block-do__img img {
	width: 100%;
	height: 100%;
}
.block-do__title {
	font-size: 18px;
	line-height: 26px;
	color: #403e3b;
	margin-bottom: 10px;
}
.block-do__sub-title {
	font-size: 15px;
	line-height: 24px;
	color: #645c55;
}
/*5 секция*/
.left {
	background: url("../img/bg_sec5.jpg") center/cover no-repeat;
	justify-content: start;
	padding-left: 60px;
}
/*6 секция*/
.sec-6 {
	padding: 100px 0;
	background-color: #f7f7f7;
}
.sec-6__title {
	font-size: 39px;
	line-height: 42px;
	color: #1b1a1a;
	margin-bottom: 15px;
}
.sec-6__subtitle {
	max-width: 600px;
	font-size: 24px;
	line-height: 30px;
	color: #645c55;
	margin-bottom: 42px;
}
.sec-6__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.card {
	text-align: center;
	margin: 1%;
	width: 48%;
	position: relative;
}

.card:hover .hover {
	display: flex;
}
.card:nth-last-child() {
	margin-right: 0px;
}
.card img {
	width: 100%;
	height: 100%;
}

.hover {
	position: absolute;
	top: 0;
	left: 0;
	height: 99%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: left;
	display: none;
	background: rgba(100, 92, 85, 0.3);
}
.hover__title p {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #645c55;
	margin-top: 10%;
	margin-left: 10%;
}
.hover__title h3 {
	font-size: 23px;
	line-height: 30px;
	color: #403e3b;
	margin-left: 10%;
}
.hover__button {
	background: #1b1a1a;
	border-radius: 14px;
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #ffffff;
	padding: 11px 20px;
	max-width: 140px;
	margin-left: 10%;
	margin-bottom: 10%;
}
.sec-6__link-all {
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	letter-spacing: 0.4px;
	color: #1b1a1a;
	margin-top: 50px;
}
/* слайдер с к нопками внизу */

.sec-6__block {
	position: relative;
}
.sec-6__block .slick-slide img {
	width: 100%;
	height: 100%;
}
.card.slick-center {
	opacity: 1;
}
.sec-6__arrow {
	display: flex;
	align-items: center;
	justify-content: center;
}
.sec-6__arrow .slick-next,
.sec-6__arrow .slick-prev {
	background-color: transparent;
	font-size: 20px;
	color: #fff;
	background-color: rgb(106, 90, 90);
	padding: 5px 15px;
	border: 1px solid rgb(106, 90, 90);
}

.sec-6__arrow .slick-prev {
	margin-right: 20px;
}
/*7 секция*/
.sec-7 {
	padding: 100px 0;
}
.sec-7__flex-block {
	display: flex;
}
.sec-7__meet {
	width: 30%;
	margin-right: 5%;
}
.sec-7__title {
	font-size: 32px;
	line-height: 38px;
	color: #403e3b;
	margin-bottom: 14px;
}
.sec-7__text {
	font-size: 15px;
	line-height: 24px;
	color: #645c55;
	margin-bottom: 41px;
}
.sec-7__link {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #1b1a1a;
	margin-left: 20px;
}
.sec-7__team {
	width: 65%;
	max-height: 400px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
}
.teams {
	display: flex;
	align-items: center;
	margin-bottom: 45px;
	max-width: 50%;
}
.teams__img {
	width: 84px;
	height: 84px;
	margin-right: 30px;
}
.teams__img img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}
.teams__information {
}
.teams__name {
	font-size: 17px;
	line-height: 26px;
	color: #1b1a1a;
}
.teams__post {
	font-size: 14px;
	line-height: 14px;
	color: #645c55;
}

/*8 секция*/
.sec-8 {
	padding: 100px 0;
	background-color: #cec4bc;
}

.sec-8__block {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.sec-8__info {
	max-width: 576px;
}
.sec-8__upper-title {
	font-size: 14px;
	line-height: 20px;
	letter-spacing: 2px;
	text-transform: uppercase;

	color: #645c55;
}
.sec-8__title {
	font-size: 40px;
	line-height: 42px;
	color: #1b1a1a;
}
.sec-8__link {
	font-size: 16px;
	line-height: 24px;
	letter-spacing: 0.4px;
	color: #1b1a1a;
}

/*подвал сайта*/

footer {
	padding: 100px 0;
}
.footer {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
.footer__info {
	max-width: 425px;
}
.footer__logo {
	margin-bottom: 20px;
}
.footer__text {
	font-size: 13px;
	line-height: 20px;
	color: #645c55;
}
.footer__link a {
	width: 24px;
	height: 25px;
	margin-left: 20px;
}

/* ==================================== */
/* Стили для формы */
.feed-form {
	margin-top: 35px;
	display: flex;
	flex-direction: column;
	width: 100%;
}
input {
	height: 50px;
	border-radius: 7px;
	background-color: #fff;
	border: none;
	font-size: 14px;
	margin-bottom: 15px;
	padding: 0 20px;
}
input:nth-child(3) {
	margin-bottom: 35px;
}
/* ==================================== */
/* Табы */
.catalog {
	padding: 70px 0;
}

.title {
	font-size: 39px;
	line-height: 42px;
	color: #1b1a1a;
	text-align: center;
	font-weight: 700;
}
.catalog__tabs {
	margin-top: 70px;
	list-style-type: none;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin-bottom: 0;
	padding-left: 0;
}
.catalog__tab {
	width: 250px;
	height: 50px;
	border: 2px solid #d0d0d0;
	color: #6b6b6b;
	font-size: 18px;
	font-weight: 400;
	text-transform: uppercase;
	text-align: center;
	line-height: 48px;
	transform: skewX(-25deg);
	-webkit-transform: skewX(-25deg);
	-moz-transform: skewX(-25deg);
	-ms-transform: skewX(-25deg);
	-o-transform: skewX(-25deg);
	margin: 5px 5px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.catalog__tab:hover {
	box-shadow: 3px 3px 20px #6b6b6b;
	border: none;
}
.catalog__tab_active {
	background-color: #cec4bc;
	color: #000;
	border: none;
	cursor: pointer;
}
.catalog__tab > div {
	transform: skewX(25deg);
	-webkit-transform: skewX(25deg);
	-moz-transform: skewX(25deg);
	-ms-transform: skewX(25deg);
	-o-transform: skewX(25deg);
}
.catalog__content {
	margin-top: 60px;
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	display: none;
}
.catalog__content_active {
	display: flex;
}
.catalog-item {
	width: 300px;
	min-height: 440px;
	border: 2px solid #e8e8e8;
	background-color: #fff;
	padding: 20px;
	margin-bottom: 20px;
}
.catalog-item__img {
	max-width: 100%;
	display: block;
	margin: 0 auto;
}
.catalog-item__subtitle {
	margin-top: 20px;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
}
.catalog-item__descr {
	margin-top: 15px;
	text-align: center;
}
.catalog-item__link {
	display: block;
	text-align: center;
	margin-top: 15px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: underline;
	color: rgb(70, 48, 54);
}
.button_tab {
	display: block;
	margin: 0 auto;
	margin-top: 15px;
}
/* ================================== */
/* Стили для tab */
.tabs-js {
	padding: 100px 0;
}
.tabs__nav {
	display: flex;
	justify-content: space-between;
}
.tabs-nav__item {
	padding: 20px;
	border-bottom: 2px solid transparent;
	cursor: pointer;
	flex: 1;
}
.tabs-nav__item.is-active {
	border-bottom: 2px solid rgb(70, 48, 54);
}
.tab {
	background-color: #cec4bc;
	padding: 20px;
	display: none;
	border-radius: 0 0 5px 5px;
	-webkit-border-radius: 0 0 5px 5px;
	-moz-border-radius: 0 0 5px 5px;
	-ms-border-radius: 0 0 5px 5px;
	-o-border-radius: 0 0 5px 5px;
}
.tab.is-active {
	display: block;
}

/* ================================= */
/* Стили для accordeon */
.accordeon {
	padding: 100px 0;
	background-color: #cec4bc;
}
.box {
	position: relative;
	margin-bottom: 30px;
	border: 2px solid rgb(106, 90, 90);
	border-radius: 7px;
	-webkit-border-radius: 7px;
	-moz-border-radius: 7px;
	-ms-border-radius: 7px;
	-o-border-radius: 7px;
}
.box .label {
	position: relative;
	padding: 20px;
	cursor: pointer;
	background-color: rgb(106, 90, 90);
	color: #cec4bc;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
}
.box .label::after {
	content: "+";
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	font-size: 30px;
	font-weight: bold;
}
.box.active .label::after {
	content: "-";
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	font-size: 30px;
	font-weight: bold;
}
.box .content {
	overflow: hidden;
	max-height: 0;
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s;
	-ms-transition: 0.3s;
	-o-transition: 0.3s;
}
.box .content p {
	padding: 20px;
}

/* ==================================== */
/* Адаптив */

@media (max-width: 950px) {
	.sec-1 {
		flex-direction: column;
		align-items: center;
	}
	.sec-1__text {
		width: 90%;
		justify-content: center;
	}
	.sec-1__block-txt {
		margin: 50px 10%;
	}
	.sec-1__img {
		width: 80%;
		min-height: 400px;
	}
	.sec-2__block {
		flex-direction: column;
		align-items: center;
	}
	.block-do {
		width: 50%;
	}
	.sec-7__flex-block {
		flex-direction: column;
		align-items: center;
	}
	.sec-8__block,
	.footer {
		flex-direction: column;
	}
	.footer {
		align-items: flex-start;
	}
}
@media (max-width: 769px) {
	.header__nav .menu {
		display: none;
	}
	.hamb-field {
		display: block;
		width: 35px;
		height: 35px;
	}
	.hamb-field img {
		height: 100%;
		width: 100%;
	}
	.block-do {
		padding: 0 20px;
	}
	.sec-7__meet {
		width: 90%;
		margin-right: 0%;
	}
	.sec-7__team {
		width: 90%;
		max-height: fit-content;
	}
	.teams {
		max-width: 90%;
	}
}
@media (max-width: 426px) {
	.sec-1__title {
		font-size: 40px;
		line-height: 50px;
	}
	.sec-2__text,
	.sec-2__title {
		width: 90%;
	}
	.block-do {
		width: 100%;
	}
	.sec-4__title {
		font-size: 30px;
		line-height: 40px;
	}
	.sec-6__title {
		font-size: 30px;
		line-height: 40px;
	}
	.sec-6__subtitle {
		font-size: 20px;
		line-height: 30px;
	}
	.sec-8__title {
		font-size: 30px;
		line-height: 35px;
		margin: 15px 0;
	}
}
